body{
    background-color: darksalmon;
}
h2.cripto{
    color: blue;
    text-decoration: underline;
    text-align: center;
}
input.monedas{
    color: red;
}
p.desarrollado{
    background-color: yellow;
    text-align: center;
}
span.nombre{
    color: red;
}